# Ignore arquivos de build
target/
build/

# Diretórios de dependências (se estiver usando o Maven ou Gradle)
.mvn/
.gradle/

# Arquivos de configuração do IntelliJ IDEA
.idea/
*.iml

# Arquivos de configuração do Eclipse
.project
.classpath

# Arquivos de configuração do VSCode
.vscode/

# Arquivos sensíveis (como chaves privadas e arquivos de ambiente)
*.key
*.pem
*.p12
*.env

# Arquivos de log
*.log
logs/

# Arquivos de cache do sistema operacional
.DS_Store
Thumbs.db

# Dependências do Maven ou Gradle
*.jar
*.war
*.ear

# Arquivos gerados por ferramentas como o Spring Boot (por exemplo, arquivos .h2)
*.h2.db

# Arquivos de configuração específicos do usuário (se estiverem em seu projeto)
*.user

# Arquivos de configuração do Docker (se não forem compartilhados)
docker-compose.override.yml

# Arquivos de compilação temporários
*.tmp
*.bak
*.swp

# Arquivos de banco de dados
*.db
*.sqlite
*.sqlite3

# Diretórios de backup
*_backup/
