<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosses e Builds Recomendadas</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Bosses e Builds Recomendadas</h1>

    <div class="search-container">
        <input type="text" id="bossName" placeholder="Digite o nome do boss" />
        <button onclick="getBossAndBuilds()">Buscar</button>
    </div>

    <div id="response">
        <!-- A resposta da API será exibida aqui -->
    </div>
</div>

<!-- Rodapé -->
<footer>
    <p>&copy; 2025 <a href="https://github.com/pablozr" target="_blank">Feito por Pablo</a></p>
</footer>

<script src="/script.js" defer></script>
</body>
</html>
